.image-cover {
    width: 100%;
    height: 300px;
    background-color: burlywood;
    border-radius: 3px;
}
 
.btn {
    margin: 10px 0px;
}

.btn-create i {
    margin-right: 5px;
    color: #ffffff;
    font-size: 16px;
    vertical-align: 0px;
}

.btn-create {
    font-size: 16px;
    background-color: rgb(55, 155, 236);
    color: #ffffff;
}

.btn-create:hover {
    background-color: rgb(31, 144, 236);
    color: #ffffff;
}
h2 {
    margin-top: 10px;
    color: black;
}


