html,
body {
  height: 100%;
  margin: 0;
}

#app {
  position: relative;
  min-height: 100vh;
}

.page-main {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
