.top-profile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}


.avt {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-size: cover;
    border: 3px solid #ffffff;
    margin-top: -100px;
}

@media screen and (max-width: 768px) {
    .avt {
        width: 100px;
        height: 100px;
        margin-top: -68px;
    }
}
@media screen and (max-width: 600px) {
    .avt {
        width: 70px;
        height: 70px;
        margin-top: -48px;
    }
}

.description {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.menu-profile .nav-item a{
    font-weight: bold;
    color: black;
}

.body-profile {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.top-profile {
    margin-bottom: 10px;
}

.title-body {
    margin: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.title-body .btn-add-mission {
    width: 30%;
    overflow: hidden;
    font-size: 14px;
    background-color: rgb(83, 83, 253);
    color: #ffffff;
}

.title-body .btn-add-mission:hover {
    background-color: rgb(46, 46, 248);
    color: #ffffff;
}

.title-body button i {
    font-size: 14px;
    vertical-align: 0;
    color: #ffffff;
}
.show-false {
    display: none;
}

.left-status {
    background-color: #ffffff;
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
    padding: 5px;
}
.right-status {
    background-color: #ffffff;
    border-radius: 10px;
    flex: 2;
    padding: 5px;
}

.display-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.more-menu {
    display: none;
    text-align: center;
    border: none;
    background-color: #ffffff;
}
.more-menu i {
    color: rgb(59, 59, 59);
}
.more-menu i:hover {
    color: #000000;
}
.view-item {
    display: none;
}
@media screen and (max-width: 768px) {
    .display-body {
        flex-flow: column wrap;
    }
    .left-status {
        flex: 1;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .right-status {
        flex: 1;
    }
    .hidden-menu {
        display: none;
    }
    .more-menu {
        display: block;
    }
    .view-item {
        display: list-item;
    }
}

.edit-profile {
    margin-left: 5px;
}
.edit-profile:hover {
    color: #000000;
    cursor: pointer;
}
.table th {
    font-weight: bold;
}
.deadline {
    margin: 0.5rem 0px;
}
.custom-control-label {
    position: static;
    vertical-align: 0px;
}
.btn i {
    vertical-align: 0px;
}

.header-table-mission {
    border: 1px solid #ffffff;
    width: 98%;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(68,200,250), rgb(49,72,165));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: -10px auto 0px auto;
}
.header-table-mission h4 {
    display: block;
    color: #ffffff;
    margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
    .header-table-mission h4 {
        display: none;
    }
}
.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: -1px 2px 10px -1px rgba(0,0,0,0.75);
}

.btn-circle:hover {
    box-shadow: -1px 2px 10px 2px rgba(0,0,0,0.75);
}
.btn-circle i {
    color: #ffffff;
    font-size: 15px;
}

.btn-last {
    margin-right: 0px;
}
.check-mission {
    margin-left: 12px;
}

.page-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #000000;
    margin-right: 10px;
}

.month:hover {
    background-color: #c5c5c5;
    cursor: pointer;
}

.month a {
    text-decoration: none;
    color: #000000;
}

.year {
    border: none;
    background-color: none;
    font-weight: bold;
    color: #000000;
}

.table th {
    color: #000000;
}