.flex-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.card .amount {
    margin-top: -15px;
}

.flex-container .btn-add {
    width: 80px;
    background-color: rgb(34, 111, 253);
    color: #ffffff;
    font-size: 1rem;
    border-radius: 10px;
}

.flex-container .btn-add:hover {
    background-color: rgb(15, 98, 252);
    color: #ffffff;
}

.flex-container .btn-add i {
    color: #ffffff;
    margin-right: 5px;
    vertical-align: 0px;
}

.number-member, .me {
    width: 43px;
    height: 43px;
    background-color: #c9c9c9;
    border-radius: 100%;
    padding: 10px 0px 0px 7px;
    border: 2px solid #ffffff;
    align-self: center;
}

.me {
    z-index: 2;
}

.number-member {
    position: absolute;
    margin-left: 115px;
    z-index: 1;
}
.image-cover .btn-change {
    width: 120px;
    background-color: rgb(204, 204, 204);
    color: rgb(37, 37, 37);
    font-size: 1rem;
    margin: 243px 15px 0px 0px;
    float: right;
}

.image-cover .btn-change i {
    color: rgb(37, 37, 37);
    vertical-align: 0px;
    margin-right: 5px;
}

.image-cover .btn-change:hover {
    background-color: rgb(182, 182, 182);
    color: rgb(37, 37, 37);
}

.add-mem {
    width: 300px;
    position: absolute;
    z-index: 3;
    height: 43px;
    margin-left: 80px;
    align-self: center;
}

